body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

#searchBar {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, border-radius 0.3s;
}

.suggestions li:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.suggestions li:last-child {
    border-bottom: none;
}